# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C compilation and related
*.so
*.o
measurement-client/probe-core-direct
measurement-client/probe-core-socks
measurement-client/config.h
measurement-client/Makefile
measurement-client/config.log
measurement-client/config.cache
measurement-client/config.status
measurement-client/autom4te.cache/

# Probe sets and probe results
*.csv
measurement-client/probe-result-*.json

# Editor junk
.#*
\#*#
*~
.ipynb_checkpoints/

# OSX junk
.DS_Store
