<?php
# Sample configuration.  You will definitely need to adjust $ENCRYPT_TO,
# and you may also want to adjust $BASEDIR.  The directory structure below
# $BASEDIR can also be adjusted if necessary.

$ENCRYPT_TO = "<fill in a GPG key id>";

$BASEDIR    = $_ENV["HOME"] . "/active-geo/";

$LANDMARKS  = $BASEDIR . "landmarks.csv";
$REPORT_DIR = $BASEDIR . "reports";
$GPG_HOME   = $BASEDIR . "gnupg2";
?>