{% extends "_base.html" %}
{% block title %}Web-based Measurement{% endblock %}
{% block indexactive %}id="active"{% endblock %}
{% block morestyles %}
<link rel="stylesheet" href="{{ s('ol-3.18.2/ol.css') }}">
<link rel="stylesheet" href="{{ s('client.css') }}">
{% endblock %}
{% block contents %}
<p>You can find out where a computer is physically, by measuring how
  long it takes to communicate with other computers in known
  locations.  But nobody is sure how well this works outside of Europe
  and North America.</p>

<p>This demo will show you how accurately this measurement can locate
  your computer.  It is part of a research study conducted by
  <a href="https://cylab.cmu.edu/education/facultychristin.html">Nicolas
    Christin</a>,
  <a href="https://www.owlfolio.org/">Zachary Weinberg</a>, and
  <a href="https://cylab.cmu.edu/education/faculty/sekar.html">Vyas
    Sekar</a> of Carnegie Mellon University.  The study is sponsored
    by the National Science Foundation under award CNS-1814817.  Once
    you have seen the demo, if you want, you can send us the
    measurements to help with our research.</p>

<noscript class="error_message message">For this demo to
  work, you must use a browser with JavaScript enabled.</noscript>
<div id="error_message" class="error_message message hide"></div>
<div id="loading_message" class="wait_message message hide">Loading, please wait…</div>
</div>

<div id="map_container" class="hide">
  <p class="during_coarse hide">Finding your continent…</p>
  <p class="during_fetch_fine hide">Getting additional landmarks…</p>
  <p class="during_fine hide">Narrowing down your location…</p>
  <div id="map_error_message" class="error_message message hide"></div>
  <progress class="during_run hide"
            id="run_progress" value="0" max="0">0/0</progress>
  <p id="after_demo" class="hide">Now that you’ve seen the demo,
    are you interested in helping us with our
    research? <button type="button" id="open_consent_form">Tell me
      more</button></p>
  <div id="map_aspect_ratio">
    <div id="map" class="map"></div>
    <button type="button" id="go" class="hide">Start</button>
  </div>
  <select id="map_units">
    <option value="degrees">degrees</option>
    <option value="imperial">imperial inch</option>
    <option value="us">us inch</option>
    <option value="nautical">nautical mile</option>
    <option value="metric" selected>metric</option>
  </select>
  <table id="map_key"><tbody><tr>
      <td class="lm_c_or_f"><table><thead>
            <tr><th colspan="2">Landmarks</th></tr>
          </thead><tbody>
            <tr class="lm_c"><td><img src="{{ s('lm_coarse.png')
            }}"></td><td>For continent</td></tr>
            <tr class="lm_c"><td><img src="{{ s('lm_fine.png')
            }}"></td><td>For refined position</td></tr>
          </tbody></table></td>
      <td class="gl_b_or_f hide"><table><thead>
            <tr><th colspan="2">Your location for comparison</th></tr>
          </thead><tbody>
            <tr class="gl_b hide"><td><img src="{{ s('map_pin_user.png')
            }}"></td><td>From your browser</td></tr>
            <tr class="gl_f hide"><td><img src="{{ s('map_pin_proxy.png')
            }}"></td><td>From GeoLite2-City</td></tr>
      </tbody></table></td>
  </tr></tbody></table>
</div>
<div class="text_container">
  <div id="browser_ok" class="hide">
    <h2>How it works</h2>
    <p>Your computer sends messages to 200 other computers around
      the world (the “anchor” servers of
      the <a href="https://atlas.ripe.net/">RIPE Atlas</a>), and
      measures the round-trip times.</p>
    <p>We know where those servers are and we have measured how
      long it takes them to talk to each other.  Using that, we
      can estimate that if it takes <i>this</i> long for your
      computer to communicate with <i>that</i> server, then they
      are at most <i>this</i> far apart.  (This is called
      the <a href="http://cs-www.bu.edu/faculty/crovella/paper-archive/imc04-geolocation-full.pdf"><abbr title="Constraint-based geolocation">CBG</abbr></a>
      algorithm.)</p>
    <p>For each server, the demo draws a circle on the map
      covering “this far apart,” unless it would be too big to be
      helpful (more than half the surface of the Earth).  Your
      computer should be where all the circles coincide.</p>
    <p class="gl_b_or_f hide">For comparison, the map
      also shows where
      <a class="gl_b hide"
         href="https://en.wikipedia.org/wiki/W3C_Geolocation_API"
         >your browser</a><span class="gl_b_and_f hide"
         > and </span><a class="gl_f hide"
         href="https://www.maxmind.com/en/geoip2-databases">MaxMind's
         free GeoLite2-City database</a>
      think<span class="gl_b_xor_f hide">s</span>
      your computer is located.</p>
  </div>
  <div id="consent_form" class="hide">
    <h2>Helping with the research</h2>
    <p>We need you to tell us your computer’s <i>true</i>
      location<span class="gl_b_or_f hide">, which might not be
        where <span class="gl_b hide">your
          browser</span><span class="gl_b_and_f hide">
          or </span><span class="gl_f hide">the GeoLite2-City database</span>
        think<span class="gl_b_xor_f hide">s</span> it is</span>, and
      whether you are using a network proxy.  We will also
      automatically record:</p>
    <ul>
      <li>your computer’s public IP address (if you are using a
        proxy, this will be the proxy’s address)</li>
      <li>all of the round-trip time measurements</li>
      <li class="gl_b hide">where your browser thinks your
        computer is</li>
      <li class="gl_f hide">where the GeoLite2-City database thinks your
        computer is (based on its public IP address)</li>
      <li>and the browser you are using
        (<span id="browser_ver"></span>).</li>
    </ul>
    <p>CMU’s Office of Research Integrity and Compliance requires
      us to warn you that the data we collect is considered
      “<a href="https://en.wikipedia.org/wiki/Personally_identifiable_information">personally
        identifiable information</a>” under US law, and that the
      university is legally required to store all research data
      for at least three years.  We take care to protect it:</p>
    <ul>
      <li>We don’t ask for your name, your email address, or
        anything else about you.</li>
      <li>We only ask for your true location to within one
        kilometer (1/100 of a degree).</li>
      <li>All of the data is encrypted in transmission from your
        computer to our database.</li>
      <li>The database is on a computer under our physical
        control.  Only the researchers involved in this study have
        access to it.</li>
      <li>We will not reveal your IP address to anyone (including our
        sponsor, the US National Science Foundation) unless required
        to do so by a future law, regulation, subpoena or court order.</li>
      <li>We might, in the future, publish a version of the
        database for other researchers to use. If we do this, the
        IP addresses will all be replaced with
        “<a href="https://en.wikipedia.org/wiki/Autonomous_system"
            >autonomous system</a>” numbers, which identify each
        computer’s ISP but not the computer itself. If you don’t
        want us to publish even this much information, you can
        tell us so in the form below.</li>
    </ul>

    <p>However, participating in this study could still harm you,
      especially if our database is stolen.  The thief would be
      able to associate your IP address with your location, more
      precisely than they could if they only knew your IP address.
      If there’s someone specific who must not find out where you
      live, we recommend you don’t send us data collected by a
      computer in your house.</p>

    <p>Also, for legal reasons, please don’t send us any data if
      you are younger than 18 years old.</p>

    <p>If you want to ask questions about this study, before or
      after sending us data, please contact Zachary Weinberg
      at <a href="mailto:zackw@cmu.edu">zackw@cmu.edu</a>, or
      Nicolas Christin at
      <a href="mailto:nicolasc@cmu.edu">nicolasc@cmu.edu</a>.</p>

    <p>If you have concerns about this study, or questions about
      your rights as a research participant, you can contact the
      Office of Research Integrity and Compliance directly,
      at <a href="mailto:irb-review@andrew.cmu.edu">irb-review@andrew.cmu.edu</a>
      or <a href="tel:+14122681901">412-268-1901</a> or
      <a href="tel:+14122685460">412-268-5460</a>.</p>

    <h3>To send in your data, please fill in this form:</h3>

    <form id="user_params" method="post"
          action="/active-geo/api/1/probe-results">
      <p>Please tell us the physical location of the computer
        running this web browser, in decimal degrees, with two
        decimal places of accuracy.</p>
      <p>The best way to get the computer’s location is
        with <a href="https://en.wikipedia.org/wiki/Global_Positioning_System">GPS</a>;
        most smartphones can take a GPS reading. The iPhone ships with a
        “Compass” utility that, among other things, shows you your
        latitude and longitude (in degrees, minutes, and seconds; you
        will have to convert). For Android, you need a third-party app:
        we suggest “<a href="https://play.google.com/store/apps/details?id=com.gpscoordinatesandlocation">My
          GPS Coordinates</a>”.</p>

      <p>If you don’t have a GPS-capable phone or dedicated
        receiver, or you can’t go to where the computer is and
        take a GPS reading, the next best option is to look up the
        postal address of the building in an address-to-location
        service, such
        as <a href="https://www.latlong.net/convert-address-to-lat-long.html">latlong.net</a>.</p>
      <p>Use positive numbers for north of the Equator
        and east of Greenwich, negative numbers for south / west.
        <fieldset>
          <table><tr>
              <td><label for="client-lat">Client latitude:</label></td>
              <td><input name="client-lat" id="client-lat" type="number"
                         minlength="1" maxlength="6"
                         min="-90" max="90" step="0.01"
                         pattern="-?(?:\d{1,2}(?:\.\d{0,2})?|\.\d{1,2})"
                         required></td>
              <td><span id="client-lat-ve" class="validation_error hide"
                        >Must be a number from -90.00 to 90.00.</span></td>
            </tr><tr>
              <td><label for="client-lon">Client longitude:</label></td>
              <td><input name="client-lon" id="client-lon" type="number"
                         minlength="1" maxlength="7"
                         min="-180" max="180" step="0.01"
                         pattern="-?(?:\d{1,3}(?:\.\d{0,3})?|\.\d{1,2})"
                         required></td>
              <td><span id="client-lon-ve" class="validation_error hide"
                        >Must be a number from -180.00 to 180.00.</span></td>
          </tr></table>
        </fieldset>
      <p>If you are using a network proxy, please tell us its
        physical location, too.</p>
      <fieldset>
        <input type="radio" name="proxy-loc" id="proxy-no" value="no" checked>
        <label for="proxy-no">I’m not using a proxy</label><br>
        <input type="radio" name="proxy-loc" id="proxy-unknown" value="unknown">
        <label for="proxy-unknown">I don’t know where the proxy is</label><br>
        <input type="radio" name="proxy-loc" id="proxy-coords" value="coords">
        <label for="proxy-coords">The proxy is at these coordinates:</label><br>
        <fieldset>
          <table><tr>
              <td><label for="proxy-lat">Proxy latitude:</label></td>
              <td><input name="proxy-lat" id="proxy-lat" type="number"
                         minlength="1" maxlength="6"
                         min="-90" max="90" step="0.01"
                         pattern="-?(?:\d{1,2}(?:\.\d{0,2})?|\.\d{1,2})"
                         disabled></td>
              <td><span id="proxy-lat-ve" class="validation_error hide"
                        >Must be a number from -90.00 to 90.00.</span></td>
            </tr><tr>
              <td><label for="proxy-lon">Proxy longitude:</label></td>
              <td><input name="proxy-lon" id="proxy-lon" type="number"
                         minlength="1" maxlength="7"
                         min="-180" max="180" step="0.01"
                         pattern="-?(?:\d{1,2}(?:\.\d{0,2})?|\.\d{1,2})"
                         disabled></td>
              <td><span id="proxy-lon-ve" class="validation_error hide"
                        >Must be a number from -180.00 to 180.00.</span></td>
          </tr></table>
        </fieldset>
      </fieldset>
      <p>If we publish our database for other researchers to use,
        is it OK for us to include data collected by this
        computer?</p>
      <fieldset>
        <input type="radio" name="publication" id="pub-yes" value="yes" checked>
        <label for="pub-yes">Yes</label>
        <input type="radio" name="publication" id="pub-no" value="no">
        <label for="pub-no">No</label>
      </fieldset>
      <button id="submit_form">Send in the data</button>
      <div id="sending_message"
           class="wait_message message hide">Transmitting…</div>
      <div id="send_error_message"
           class="error_message message hide"></div>
      <div id="completion_message" class="hide">
        <p id="ccode-para" class="hide"><strong>Confirmation code: <span id="ccode-box"></span></strong></p>
        <p>Data transmitted.  Thank you for your help.</p>
        <p>If you have access to other computers in different
          cities, we encourage you to run this measurement on all
          of them.  If you only have remote shell access to those
          computers, we have
          a <a href="commandline.html">command-line tool</a> that
          makes the same measurement.  (It’s also more accurate
          than what we can do inside a browser.)</p>
        <p>It’s not as helpful to run this measurement on more
          than one computer in the <em>same</em> city, unless
          their routes to the Internet backbone are very different
          (for instance, if one gets its connectivity from a
          residential ISP, and another from a cellphone system).
          It’s not necessary at all to run the measurement on more
          than one browser on the same computer.</p>
      </div>
    </form>
  </div>
  <footer>
    <p>If this demo does not work correctly, please
      <a href="https://github.com/zackw/active-geolocator/issues/new"
         >let us know</a>.  We will need to know which web browser
      you are using, and its version number (usually found in
      an “about” dialog).  It will also be helpful if you
      provide the contents of the “technical log” below this
      text (click to expand).</p>
    <p>Copyright 2016
      <a href="https://www.owlfolio.org/contact/">Zachary Weinberg</a>.
      <a href="https://github.com/zackw/active-geolocator">Source available</a>
      under the terms of the
      <a href="https://tldrlegal.com/license/mit-license">MIT License</a>.
    </p>
    <details>
      <summary>Technical log</summary>
      <pre id="log"></pre>
    </details>
  </footer>
{% endblock %}
{% block trailer %}
<div id="offstage"
     data-geoip-lat="{{ geoip_lat }}" data-geoip-lon="{{ geoip_lon }}">
  <img src="{{ s('map_pin_proxy.png') }}" id="pin_geoip">
  <img src="{{ s('map_pin_user.png') }}" id="pin_browser">
  <img src="{{ s('lm_coarse.png') }}" id="lm_coarse">
  <img src="{{ s('lm_fine.png') }}" id="lm_fine">
</div>
<!-- OpenLayers needs rAF, Element.prototype.classlist, and URL.
     ui.js needs Array.map, Date.toISOString,
     document.getElementsByClassName, fetch, and Promise.  It’s
     possible to self-host this but it’s a very big Twinkie :-/ -->
<script async defer src="//cdn.polyfill.io/v2/polyfill.min.js?flags=gated&rum=0&unknown=polyfill&features=requestAnimationFrame,Element.prototype.classList,URL,Array.map,Date.prototype.toISOString,document.getElementsByClassName,fetch,Promise,~html5-elements"></script>
<script async defer src="{{ s('ol-3.18.2/ol.js') }}"></script>
<script async defer src="{{ s('proj4-2.3.14/proj4.js') }}"></script>
<script async defer src="{{ s('geographiclib-1.42.js') }}"></script>
<script async defer src="{{ s('ui.js') }}"></script>
{% endblock %}
