body {
  background-color: #fff;
  padding:12px;
  font: 14px/1.5 Verdana, Arial, Helvetica, sans-serif;
  color: #444;
  font-weight: 400;
  max-width: 1024px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  color: #898d8e;
  font-size:28px;
}

h2 {
  color:#974b17;
}

h3 {
  color:#974b17;
  font-weight: bold;
  border-top: 3px double #ccc;
  margin-top: 2em;
  padding-top: 1em;
}

a {
  text-decoration:none;
}

#active {
  color: #974b17;
  font-size: 12px;
  font-weight: bold;
}

code {
  color: black;
}
pre {
  color: black;
  margin-left: 2em;
}

header {
  max-width: 650px;
}
#logo {
  float: left;
  margin-right: 14px;
}
#title {
}
#navbar {
  display: block;
  list-style: none;
}

#navbar > li {
  color: #464646;
  font-size: 12px;
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  text-align: right;
}

.text_container {
    max-width: 700px;
}

#navbar li:hover, #navbar li a:hover {
  color:#7493a2;
  cursor: pointer;
}

@media screen and (max-width: 645px) {
  #logo { display: none }
  #title::before { content: "CyLab " }
}

}
@media screen and (max-width: 399px) {
  #logo > img { width: 75px }
}

@media print {
  #logo, #navbar { display: none }
  .text_container { margin: 0 }
  #map_container { }
  #title::before { content: "CyLab " }
}
